
/*Pause and Play Container*/

#wholeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 50vh;
  

}
    #playerContainer{
        background-color: #575799;
        margin-top: 15px;
        width: 450px;
           box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2), 
             -4px -4px 2px rgba(255, 255, 255, 0.1);
     
        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        border-radius: 30px;
        flex-direction: row;
        

     
    }

    #playerSection1{
        
      height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        #imgHolder{
            position: relative;
            width: 100px;
            
            position: relative;
        }
            #imgHolder img{
            
                width: 100%;
                border-radius: 20px;
                
            
            }
            .pauseOrPlay{
                color: white;
                opacity: 0.8;
                height: 50%;
                width: 50%;
                background-color: #575799;
                border-radius: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50%);
                align-items: center;
                 border: none;
            }
            .pauseOrPlay:hover{
                opacity: 0.6;
                cursor: pointer;
                box-shadow: 0px 0px 5px 0px rgb(72, 3, 90, 5);
                transition: 0.2s;
            }
            .pauseOrPlay:active{
                opacity: 0.5;
                transition: 0.2s;
            }
    
#playerSection2{

    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
}
    #playerSection2 strong{
        font-size: 15px;
    }

/*Pause button*/
.pause{
    display: none;
}

.musicHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.musicHeader img{
  width:300px;

}
.section1{
    padding-right: 20px;
}
@media (max-width: 500px){
    .section1{
    padding-right: 0px;
}

    #wholeContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .musicHeader{
   
        width:200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        
}
.musicHeader img{
  width:250px;

}
#wholeContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70vh;


}
body{
    height: 100vh;
}

}



@media (max-width: 400px){
    #playerContainer{
        height: 90px;
        width: 300px;
        
    }
    #wholeContainer{
        height: 60vh;
    }
    #imgHolder{
        width: 80px;
    }
     #imgHolder img{
        height: 100%;
       
     }

    .section1 {
        /* background-color: white; */
    padding: 0px;
}
 .section2 {
        /* background-color: rgb(128, 128, 128); */
    padding: 0px;
}
#wholeContainer{
    height: 60vh;


}
body{
    height: 778px;
}
 #playerSection1{
   
        
 
    }
   #playerContainer{
    padding-top: 7px;
      height: 97px;
    border-radius: 16px;
    padding-left: 10px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2), 
             -4px -4px 2px rgba(255, 255, 255, 0.1);
     
    }
   

}